<div class="row">
    <div class="card bg-secondary mb-3 text-center mx-auto" style="max-width: 20rem;">
        <div class="card-header">Telefóno:</div>
        <div class="card-body">
          <h5 class="card-title">Nombre cliente:</h5>
          <p class="card-text">Dirección:</p>
          <p class="card-text">Comuna:</p>
          <p class="card-text">Ciudad:</p>
        <div class="col-md-1"><button type="button" class="btn btn-primary btn-lg ">Continuar</button>
        </div>
        </div>
      </div>
</div>

   

