<div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h1>REGISTRO</h1>
          </div>
          
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="usuario">Usuario</label>
              <input type="text" name="usuario" id="usuario" class="form-control" required [(ngModel)]="usuario.usuNom" >
            </div>
            <div class="form-group">
              <label for= "password">Contraseña</label>
              <input type="password" name="password" id="password" class="form-control" required [(ngModel)]="usuario.usuPas">
            </div>
            <div class="form-group">
              <label for="exampleSelect1">Tipo de usuario</label>
              <select class="form-control" id="exampleSelect1">
                <option>Administrador</option>
                <option>Operador</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">REGISTRAR</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
